// Change some bulma defaults
@import url('https://fonts.googleapis.com/css?family=Lora:400,500&subset=cyrillic');
$body-family: 'Lora', serif;
$primary: #cd3f4c;
$link: $primary;

// Import Bulma's core
@import '../node_modules/bulma/sass/utilities/all';

// Import Bulma and Buefy styles
@import '../node_modules/bulma';
@import '../node_modules/buefy/src/scss/buefy';
